/* ADOBE FONTS*/
@import url("https://use.typekit.net/itk1wbv.css");
/*@import 'aos/dist/aos.css';*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}





:root {
    --background-color-light: #F2F1ED;
    --background-color-medium: #EEEAE7;
    --background-color-dark: #2B2726;
    --color-dark-brown: #94694B;
    --color-beige: #B8A096;

    --header-one: 4.5rem;
    --header-two: 3rem;
    --header-three: 2rem;
    --paragraph: 1.2rem;

    --header-tablet: 4rem;
    --par-tablet: 1.1rem;
}


